<% form_for([@group, @transaction]) do |f| %>
  <%= f.error_messages %>
  Omschrijving: <%= f.text_field :name %><br />
  Kosten in &euro; :<%= f.text_field :amount %> <br />
  Gekocht op datum: <%= f.date_select :paid_at %>
  
  
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
