<h1>Betalingen:</h1>

<table>
  <tr>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.name %></td>
    <td><%= euro(transaction.amount) %></td>
    <td><%= transaction.paid_at.strftime("%m-%d-%Y") %></td>
    <td><%= link_to 'Show', group_transaction_path(@group, transaction) %></td>
    <td><%= link_to 'Edit', edit_group_transaction_path(@group, transaction) %></td>
    <td><%= link_to 'Destroy', group_transaction_path(@group, transaction), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nieuwe betaling', new_group_transaction_path(@group) %>